@model AvisFormation.WebUi.Models.AjouterUnAvisViewModel
@{
    ViewBag.Title = "AjouterUnAvis";
}

<h2>Ajouter un avis sur la formation << @Model.FormationName >></h2>
<form method="post" action="~/Avis/EnregistrerAvis">
    <div class="form-group">
        <label for="nom">Nom et prenom</label>
        <input type="text" class="form-control" name="nom" placeholder="Votre nom">
    </div>
    <div class="form-group">
        <label for="note">Notez la formation</label>
        <select class="form-control" name="note">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="avis">Votre avis</label>
        <textarea class="form-control" name="avis" rows="3"></textarea>
    </div>
    <input type="hidden" name="nomSeo" value="@Model.FormationSeo" />

    <button type="submit" class="btn btn-primary mb-2">Ajouter</button>

</form>

